@import url('utils/variables.css');
@import url('utils/button.css');
@import url('modules/Header/Header.css');
@import url('modules/Content/Content.css');
@import url('modules/Swiper/Swiper.css');
@import url('modules/Partners/Partners.css');
@import url('modules/AboutUs/AboutUs.css');
@import url('modules/Footer/Footer.css');
@import url('mobile/media-Nav_Foot.css');
@import url('mobile/media-Main.css');
@import url('mobile/media-Poradnik.css');
@import url('mobile/media-AboutUs.css');
@import url('mobile/media-Subpages.css');
@import url('mobile/media-Picnic.css');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--main-font);
  color: var(--main-color);
}

.main {
  display: flex;
  flex-direction: column;
  min-height: 75vh;
}

img {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 15px 15px 12px;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  cursor: pointer;
}

.arrow {
  box-shadow: none;
  transition: 0.5s ease-in-out;
}