@import url('utils/variables.css');
@import url('utils/button.css');
@import url('modules/Header/Header.css');
@import url('modules/Content/Content.css');
@import url('modules/Swiper/Swiper.css');
@import url('modules/Partners/Partners.css');
@import url('modules/AboutUs/AboutUs.css');
@import url('modules/Footer/Footer.css');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--main-font);
  color: var(--main-color);
}


.main {
  display: flex;
  flex-direction: column;
  min-height: 75vh;
}
