:root {
    /* COLORS */
    --main-color: #ffffff;
    --second-color: #6f558e;
    --font-color: #000000;

    /* FONTS */
    --main-font: Tahoma, sans-serif;
    --second-font: Arial, sans-serif;
}