@media only screen and (width <= 430px) {

    .picnic_content{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 0;
        padding: 1.5em;
       
        
    }

    .picnic_picture1{
        width: 350px;
        height: 350px;
        border: 0.3em solid black;
    }

    .picnic_picture2{
        width: 21.9em;
        height: 21.8em;
        border: 0.3em solid black;
        margin-bottom: 5em;
    }


    .picnic_end{
        display: flex;
        align-items: center;
        margin: 1.2em 0;
        padding: 0.7em;
    }


    .picnic_name_team{
        margin-bottom: 1.8em;
    }


    
    
}