
@media only screen and (width <= 430px) {


.blog__line_right-img{
    display: flex;
    flex-wrap: wrap;
    font-size: 1,4rem !important;

}



.blog__line_right-img img{
    
    width: 19em;
    height: 23.5rem;
    border: 5px solid black;
}



.blog__text{
    
    max-width: 90%;
    margin-bottom: 2.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.blog__text h1{
    font-size: 1.1em !important;
}

.blog__text p{
    font-size: 0.9em !important;
}

.blog__text a{
    display: flex;
  justify-content: center;
  text-decoration: none;
  margin-top: 0.9em;
}

}