@media only screen and (width <= 430px) {

   

    .section__content {
      display: flex;
      flex-direction: column;
    }


    .section__content_text {
        display: flex;
        justify-content: center;
        font-size: 75% !important;
        padding: 1.1rem;
      
      }


      .section__content_title-paragraph{
        font-size: 85% !important;
      }

      
      
      .section__swiper-title {
        display: flex;
        justify-content: center;
        font-size: 115% !important;
      }
    
      .swiper__collection{
       
        display: flex;
        flex-wrap: wrap;
        height: auto;
      }
    
      .swiper--item{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 9.5em;
        width: 8em;
        
      }
      
      .event-image{
        
        width: 7em;
        height: 7em;
      }

      .event-image1{
        
        width: 7.5em;
        height: 7.7em;
        border-radius: 0.7em;
      }

      .swiper--item_featured {
        height: 9.5em;
        width: 8em;
      }

      .event-name{
        font-size: 90% !important;
      }

      .section__partners{
        padding: 3em 0;
       
      }


      .partners__title{
        font-size: 140% !important;
      }

     
      .partner-item-img{
        width: 7.5em;
        height: 7.5em;
      }

      .partners-gallery {
        display: flex;
        flex-wrap: wrap;
      }

    
    }
    

  






