/* Modyfikację styli dla ekranów ponizej 480px - czyli dla telefonów mobilnych */

@media (max-width: 480px) {

    .section__content {
        padding: 1rem 3rem;
    }

    .partner-item-img {
        width: 100%;
    }

    .blog__line_right-img,
    .blog__line_left-img {
        grid-template-columns: auto;
    }
}