/* Modyfikację styli dla ekranów ponizej 768px - czyli dla duzych telefonow oraz tabletów */
@media (max-width: 768px) {
    .swiper {
        margin: 0 auto 2rem;
    }

    .partner-item-img {
        width: 10em;
        height: 10em;
    }

    footer {
        min-height: 500px;
    }

    .footer__columns {
        display: grid;
        grid-template-areas: "bz"
            "ad"
            "sc";
    }

    .footer__section-tree,
    .footer__section-adress {
        width: 70vw;
    }

    .blog__text {
        width: 100%;
        margin: 1em auto;
        text-align: center;
        text-wrap: wrap;
    }
}