/* .footer {
    display: flex;
    min-height: 240px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: var(--second-color);
}

.footer__columns {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding-top: 0.7em;
}

.footer__section-tree,
.footer__section-adress {
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
    font-style: normal;
    width: 15vw;
}

.footer__section-title {
    border-bottom: 1px solid var(--main-color);
    margin-bottom: 0.7em;
    text-align: center;
}

.footer__section-link {
    color: var(--main-color);
    text-decoration: none;
    margin-bottom: 0.2em;
}

.footer__section-link:hover {
    text-decoration: underline;
}

.footer__socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6em;
}

.socials-icon {
    width: 3.1em;
} */

footer {
    display: grid;
    grid-template-rows: repeat(3, auto); /* Trzy wiersze, każdy dostosowuje się do zawartości */
    justify-items: center; /* Środkowanie zawartości w wierszach */
    align-items: center; /* Środkowanie zawartości w kolumnach */
    min-height: 240px;
    background-color: var(--second-color);
    padding: 1rem;
}

.footer__columns {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15vw, 1fr)); /* Dostosowanie kolumn */
    justify-items: center; 
    padding-top: 0.7em;
}

.footer__section-tree,
.footer__section-adress {
    display: grid;
    grid-template-rows: auto; /* Każdy element w nowym wierszu */
    font-size: 1.2em;
    font-style: normal;
    width: 20vw; 
}

.footer__section-title {
    border-bottom: 1px solid var(--main-color);
    margin-bottom: 0.7em;
    text-align: center;
}

.footer__section-link {
    color: var(--main-color);
    text-decoration: none;
    margin-bottom: 0.2em;
}

.footer__section-link:hover {
    text-decoration: underline;
}

.footer__socials {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Dostosowanie kolumn, minimalna szerokość 50px */
    grid-column-gap: 1.2em;
    justify-items: center; 
    align-items: center;
  
}

.socials-icon {
    width: 3.1em;
}