.footer {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--second-color);

}

.footer__columns {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding-top: 0.7em;
}

.footer__section-tree,
.footer__section-adress {
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
    font-style: normal;
    width: 15vw;
}

.footer__section-title {
    border-bottom: 1px solid var(--main-color);
    margin-bottom: 0.7em;
    text-align: center;
}

.footer__section-link {
    color: var(--main-color);
    text-decoration: none;
    margin-bottom: 0.2em;
}

.footer__section-link:hover {
    text-decoration: underline;
}

.footer__socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6em;
}

.socials-icon {
    width: 3.1em;
}
