.footer {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--second-color);

}

.footer__columns {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding-top: 12px;
}

.footer__section-tree,
.footer__section-adress {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-style: normal;
    width: 15vw;
}

.footer__section-title {
    border-bottom: 1px solid var(--main-color);
    margin-bottom: 12px;
    text-align: center;
}

.footer__section-link {
    color: var(--main-color);
    text-decoration: none;
    margin-bottom: 4px;
}

.footer__section-link:hover {
    text-decoration: underline;
}

.footer__socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.socials-icon {
    width: 50px;
}