.section__partners {
    padding: 20px;
    background-color: var(--drugi-color);
}

.partners__title {
    color: var(--font-color);
    margin: 24px auto;
    text-align: center;
}

.partners-gallery {
    display: flex;
    justify-content: center;
    gap: 8%;
}

.partner-item-img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: contain;
}