.section__partners {
    height: auto;
    max-height: 320px;
    padding: 1.2em;
    background-color: var(--third-color);
}

.partners__title {
    color: var(--font-color);
    margin: 1em auto;
    text-align: center;
}

.partners-gallery {
    padding: 0 8%;
    display: flex;
    justify-content: center;
    gap: 2%;
    padding-bottom: 1rem;
}

.partner-item {
    width: 20%;
    margin-bottom: 2%;
    text-align: center;
}

.partner-item-img {
    max-width: 100%;
    height: auto;
    box-shadow: none;
}