header {
    display: flex;
    height: auto;
    text-align: center;
    background-color: var(--second-color);
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.2em 1.6em;
    align-items: center;
    font-size: 1.2rem;
    width: 100%;
}

.menu ul {
    display: flex;
    flex-direction: row;
    gap: 1.5em;
    list-style: none;
}

.menu a {
    text-decoration: none;
    color: var(--main-color);
    transition: 0.5s ease;

}

.menu a:hover {
    color: rgb(100, 165, 230);

}

nav.navbar div.search {
    display: flex;
    align-items: center;
    gap: 0.6em;
    font-size: 80%;
}

.logo__img {
    width: 14em;
}
