/* Style ze zmeinnymi do kolorów i czcionek */

:root {
    /* COLORS */
    --main-color: #ffffff;
    --second-color: #6f558e;
    --font-color: #000000;
    --third-color: #D4C2FC;
    --button-color: #FC814A;

    /* FONTS */
    --main-font: Tahoma, sans-serif;
    --second-font: Arial, sans-serif;

}