.section__swiper {
    color: black;
    font-size: 1.2rem;
    text-align: center;
}

.event-image {
    width: 19em;
    height: 18em;
}

.section__swiper-title {
    font-size: 2rem;
    letter-spacing: 0.1em;
    padding: 1.8em 4.3em;
}

.swiper {
    width: 50%;
    height: 35em;
}

.swiper-slide {
    font-size: 30px;
}

.swiper-slide a {
    text-decoration: none;
    color: black;
}

.swiper_mobile {
    display: none;
}