/* 
.section__aboutUs {
    display: flex;
    flex-direction: column;
    gap: 2.8em;
    font-size: 1.5rem;
    color: var(--font-color);
    background-color: var(--third-color);
    padding: 1.5em 6em;
}
 */

.section__aboutUs {
    display: grid;
    gap: 2.8em;
    font-size: 1.5rem;
    color: var(--font-color);
    background-color: var(--third-color);
    padding: 1.5em 6em;
    list-style-position: inside;
    grid-template-rows: auto auto auto;

}